---
layout: base.njk
---

<article class="py-8">
  <div class="max-w-7xl mx-auto px-5">
    <h1 class="text-4xl font-bold text-primary mb-6">{{ title }}</h1>
    <div class="max-w-3xl prose prose-lg">
      {{ content | safe }}
    </div>
  </div>
</article>
